.App-header {
  text-align: center;
  height: 150px;
  padding: 20px;
}

.App-intro {
  font-size: large;
}

.tile {
  height: 150px;
  width: 600px;
  margin: auto;
  background: Azure;
  float: center;
  font-size: 16px;
  text-align: center;
  opacity: 0.75;
}

.newTweetButton{
  background-color: lightsteelblue;
  color: black;
  border: none;
  cursor: context-menu;
  font-size: 12px;
  padding: 8px;
  position: absolute;
  top: 100px;
  right: 150px;
  border-radius: 12px;
}

p{
   margin-top: 40px;
   color: inherit;
   font-family: sans-serif;
   font-style: italic;
   text-decoration: none;
   outline: 0 none;
}
h4{
  font-family: sans-serif;
  font-style: italic;
  margin-top: 40px;
}

.q {
  color: lightsteelblue;
  font-style: normal;
  font-family: sans-serif;
}
textarea {
    width: 500px;
    height: 400px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}
input[type=text], select {
    width: 20%;
    padding: 6px 10px;
    margin: 8px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.new{
  height: 150px;
  width: 600px;
  margin: auto;
  background: none;
  float: center;
  font-size: 16px;
  text-align: center;
}
textarea {
    width: 100%;
    height: 85%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

h1 {
	display: inline;
	position: relative;
	font: 150px Helvetica, Sans-Serif;
	letter-spacing: -5px;
	color: SlateBlue ;
}

h1:after {
	content: "TWITTER";
	position: absolute; left: 10px; top: 5px;
	color: rgba(255,0,0,0.5);
}

body {
   background-image: url("http://eskipaper.com/images/background-images-13.jpg");

}
